<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="Body" class="bg-gradient-to-b from-[#eef5e3] to-[#373B3E] text-white p-0 m-0 no-scrollbar">
    <section id="main-wrapper" class="main-wrapper overflow-x-hidden m-0 p-0 no-scrollbar scrollbar-none" role="main-wrapper">
      <header th:replace="(~{baseFragments/Header :: Header})"></header>
      <main th:replace="(~{baseFragments/Main :: Main})"></main>
    </section>
      <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/65271a10eb150b3fb9a089ec/1hcgbrk0h';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <!--End of Tawk.to Script-->
  </body>
  <style>
    body{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .no-scrollbar::-webkit-scrollbar { 
            display: none; 
        } 
  </style>
</html>
