<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main th:fragment="Main" class="bg-[#eef5e3] text-white p-0 m-0 h-fit w-screen">
    <section class="h-[20rem] bg-gradient-to-b from-[#493222] to-[#35393C] w-screen flex flex-col md:flex-row">
      
      <div class="h-full"><img class="w-[40rem]" th:src="@{/img/assets/examples/trucks_template_2.jpg}" alt=""></div>
      <div class="h-full"><img class="h-full w-auto" th:src="@{/img/assets/examples/truck_template_1.webp}" alt=""></div>
      <div class="h-full"><img class="h-full w-[30rem]" th:src="@{/img/assets/examples/trucking_template_3.jpg}" alt=""></div>
    </section>
    <section > 
      <img src="/img/Website_design_process.jpg" alt=""> 
    </section>
  </main>
</html>